<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480604133835-rbvfavoshr6c9ee2c175b9ojlhr0jp6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480604133835-rbvfavoshr6c9ee2c175b9ojlhr0jp6p</string>
	<key>API_KEY</key>
	<string>AIzaSyAjMC7roHoQor9f2tqhtIk7VXZT2YdrRlE</string>
	<key>GCM_SENDER_ID</key>
	<string>480604133835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tazmin.ios</string>
	<key>PROJECT_ID</key>
	<string>tazminclientapp</string>
	<key>STORAGE_BUCKET</key>
	<string>tazminclientapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480604133835:ios:1aa9a8a68f03ec8fdc7e4e</string>
	<key>DATABASE_URL</key>
	<string>https://tazminclientapp.firebaseio.com</string>
</dict>
</plist>